.proposal_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  width: 75vw;
  grid-row-gap: 3rem;
  align-items: center;
  justify-items: center;
  margin-top: 2rem;
}
