.cardContainer {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  font-family: "Red Hat Text";
  padding: 4% 4%;
  border-radius: 20px;
  width: 250px;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.title {
  align-self: center;
}

.cardContainer img {
  height: 100px;
  width: 100px;
  align-self: center;
}
