.profileMainContainer {
  display: flex;
  justify-content: center;
}

.profileSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  gap: 2rem;
  margin-bottom: 3rem;
}

.userDisplayName {
  color: rgba(49, 16, 165, 0.75);
}

.profileSectionHeader {
  color: rgba(0, 0, 0, 0.7);
}

.searchSection {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
